@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
}



.mobile_header {
    display: none;
}
.pc_header {
    display: grid;
    grid-template-columns: 0.55fr 5fr 0.25fr;
    grid-gap: 10px;
    align-items: center;
    text-align: center;
    padding: 1% 2.5%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.pc_header__logo_container img {
    width: 100%;
}

.pc_header__links_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pc_header__links_container a {
    display: inline-block;
    color: black;
    font-weight: 300;
    font-size: 1.125vw;
    text-decoration: none;
}
.pc_header__links_container a:hover {
    box-shadow: 0px 2px 0px 0px #fecf22;
}

.pc_header__phone_btn_container a {
    display: inline-block;
    color: #fecf22;
    font-size: 2.5vw;
    text-decoration: none;
}
.pc_header__phone_btn_container a:hover {
    color: black;
}



.slider_block {
    padding: 0px 1.25%;
}

.slider_block .carousel-item {
    height: 82.5vh;
}
.slider_block .carousel-item img {
    filter: brightness(50%);
}

.servicii_block__header {
    border-color: #fecf22 !important;
    color: black;
}

.servicii_block__grid {
    grid-gap: 50px;
}

.servicii_block__grid_item {
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}
.servicii_block__grid_item:hover {
    transform: translate(0, -15px);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35), 0px 5px 0px 0px #fecf22;
}

.servicii_block__grid_item__image_container img {
    width: 100%;
}

.servicii_block__grid_item__text_container {
    text-align: center;
    padding: 1.5rem 0;
}
.servicii_block__grid_item__text_container span {
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
}



.de_ce_noi_block {
    background-image: url('../img/de-ce-noi-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.75);
}

.de_ce_noi_block__header {
    color: white;
    border-color: #fecf22 !important;
}

.de_ce_noi_block__grid {
    grid-gap: 50px;
    align-items: center;    
}

.de_ce_noi_block__grid_item__text ul {
    list-style: none;
}
.de_ce_noi_block__grid_item__text ul li {
    color: white;
    position: relative;
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 2rem 0;
    line-height: 1;
}
.de_ce_noi_block__grid_item__text ul li:before{
    content: '✔';
    position: absolute; 
    top: 50%; 
    left: 0;
    transform: translate(-100%, -50%);
    color: #fecf22;
    font-weight: 800;
}

.de_ce_noi_block__grid_item__image img {
    height: 82.5vh;
    box-shadow: 20px -20px 0px 0px black;
}



.etapele_muncii_block {
    background-color: rgba(0, 0, 0, 0.1);
}

.etapele_muncii_block__header {
    color: #fecf22;
    border-color: black !important;
}

.etapele_muncii_block__grid {
    grid-gap: 50px;
}

.etapele_muncii_block__grid_item {
    padding: 10px;
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); */
    height: 100%;
}

.etapele_muncii_block__grid_item__number {
    position: relative;
}
.etapele_muncii_block__grid_item__number span {
    font-size: 6rem;
    font-weight: 500;
    color: black;
    padding-left: 20px;
}
.etapele_muncii_block__grid_item__number i {
    position: absolute;
    top: 50%;
    transform: translate(20px, -50%);
    color: #fecf22;
    font-size: 4rem;
}
.etapele_muncii_block__grid_item__text {
    font-size: 1.25rem;
}



.prezentarea_clientilor_in_block__header {
    color: black;
    border-color: #fecf22 !important;
}

.prezentarea_clientilor_in_block__grid {
    grid-gap: 25px;
}

.prezentarea_clientilor_in_block__grid_item {
    padding: 25px 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    height: 100%;
}
.prezentarea_clientilor_in_block__grid_item:hover {
    box-shadow: 0px 0px 0px 3px #fecf22;
}

.prezentarea_clientilor_in_block__grid_item__image img {
    width: 100%;
    height: 20vh;
    object-fit: contain;
}

.prezentarea_clientilor_in_block__grid_item__text {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
    margin: 10px 0px 0px 0px;
}



.avantajele_block {
    background-color: #fecf22;
}

.avantajele_block__header {
    color: black;
    border-color: white !important;
}

.avantajele_block__grid {
    grid-gap: 50px;
    align-items: flex-start !important;
}
/* 
.avantajele_block__grid_item {
    padding: 20px;
} */

.avantajele_block__grid_item__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;    
}

.avantajele_block__grid_item__header__icon svg {
    height: 6rem;
    width: 6rem;
}
.avantajele_block__grid_item__header__text {
    color: black;
    font-size: 1.65rem;
    font-weight: 700;
    padding-left: 2rem;
}
.avantajele_block__grid_item__text {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
    line-height: 1;
    margin: 15px 0px 0px 0px;
}



.harta_block__header {
    color: black;
    border-color: #fecf22 !important;
}

.harta_container {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: 10px solid black;
    width:100%;
    height: 60vh;
}

.harta_block__link {
    font-size: 2.25rem;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 100%;
    transform: translate(-100%, 0);
    color: #fecf22;
}
.harta_block__link:hover {
    color: black;
}



.certificate_block {
    background-color: rgba(0, 0, 0, 0.5);
}

.certificate_block__header {
    color: white;
    border-color: black !important;
}

.certificate_block__grid {
    grid-gap: 50px;
}

.certificate_block__grid_item {
    box-shadow: 10px 10px 0px 0px black;
    border: 2px solid #fecf22;
    padding: 15px;
    text-align: center;
    position: relative;
}
.certificate_block__grid_item img {
    height: 25vh;
    width: 100%;
    object-fit: contain;
}
.certificate_block__grid_item p {
    margin: 15px 0px 0px 0px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
    color: black;
}
.certificate_block__grid_item a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}
.certificate_block__grid_item:hover {
    box-shadow: 0px 0px 0px 2px black;
}



.footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 25px;
    padding: 2.5% 5% 1.25% 5%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
}

.footer__logo_container img {
    width: 100%;
}

.footer__links_container__contact_links__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.footer__links_container__contact_links__social a {
    color: black;
    font-size: 3rem;
    margin: 0px 2rem 0px 0px;
}
.footer__links_container__contact_links__social a:hover {
    color: #fecf22;
}
.footer_btn {
    color: black;
    font-weight: 400;
    font-size: 1.25rem;
    height: 100%;
    padding: 0px 2.5rem;
    border: 2px solid black;
    background-color: #fecf22;
}
.footer_btn:hover {
    box-shadow: 0px 0px 0px 3px black;
}

.footer__links_container__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1.25rem 0px 0px 0px;
}
.footer__links_container__links a {
    color: black;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px;
}
.footer__links_container__links a:hover {
    box-shadow: 0px -2px 0px 0px #fecf22, 0px 2px 0px 0px #fecf22;
}



#modalForm .modal-content {
    border: 5px solid #fecf22;
    border-radius: 0;
}

#modalForm .modal-header, #modalForm .modal-body{
    border: none;
}

#modalFormLabel {
    color: black;
    font-weight: 700;
    font-size: 2rem;
}

#modalContactForm .form-group label {
    margin: 0px 0px 1rem 0px;
    color: black;
    font-weight: 600;
    font-size: 0.9rem;
}

#modalContactForm .form-group input {
    border-radius: 0px;
    border:none;
    border-bottom: 4px solid #fecf22;
    color: black;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0px 0px 2rem 0px;
}
#modalContactForm .form-group input:focus,
#modalContactForm .form-group input:active {
    box-shadow: none;
    border:none;
    border-bottom: 4px solid #fecf22;
    background-color: rgba(0, 0, 0, 0.2);
}
#modalContactForm .form-group input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}
#modalContactForm__button {
    background-color: black;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 1.35rem;
    padding: 5px 0px;
}
#modalContactForm__button:hover {
    box-shadow: 0px 0px 0px 3px black;
    color: black;
    background-color: white;
}



/* --- Call button --- */
.phone_button_container {
    width: 5vw;
    height: 5vw;
    background: #fece22;
    border: 2px solid black;
    opacity: 0.75;
    border-radius: 50%;
    position: fixed;
    left: 15px;
    bottom: 10px;
    transition: all 0.2s ease;
    animation: pulse-anim 2.3s infinite ease-in-out;
}
.phone_button_container:hover {
    opacity: 1;
}

.phone_button__box {
    position: relative;
    width: 100%;
    height: 100%;
}
.phone_button__link {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.phone_button__link i {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2.5vw;
}
@keyframes pulse-anim {
    0% {
        transform: scale(0.85);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.85);
    }
}
  /* конец кнопки звонка */